.wrap {
  padding: 20px 15px;
  margin-bottom: 20px;
}
.controllChapterTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_btn {
    min-height: 45px;
    width: 120px;
  }
  &_wrap {
  }
  &_seeIndex {
    margin: 0 20px;
    font-size: 1.7rem;
  }
  &_input {
    width: 130px;
  }
  .sperted {
    margin: 0 10px;
    font-size: 2rem;
  }
}
.controllChapterBottom {
  margin-top: 20px;
  &_btnAdd {
    width: 160px;
    height: 45px;
  }
}
