.wrapStatus {
  width: 100px;
  line-height: 45px;
  border-radius: 12px;
  font-size: 1.4rem;
}
// PENDING: "Pending",
// COMPLETE: "Complete",
// UPDATING: "Updating",
.Pending {
}
.Complete {
}
.Updating {
}
