.wrapper {
  display: flex;
  height: 100%;
  width: 100%;

  &_main {
    width: 100%;
    background-color: #f5f6fa;
    padding: 20px 25px;
    overflow-y: overlay;
    &::-webkit-scrollbar {
      width: 8px;
      /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #fff;
      /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      /* color of the scroll thumb */
      border-radius: 20px;
      /* roundness of the scroll thumb */
    }
  }
}
