.wrap {
  padding: 20px 25px;
  display: flex;
  &_leftSide {
    &_image {
      img {
        border-radius: 14px;
        overflow: hidden;
        width: 250px;
        height: 300px;
        cursor: pointer;
      }
    }
  }
  &_rightSide {
    margin-left: 40px;
    flex-grow: 1;
    &_name {
      display: block;
      width: 200px !important;
    }
    &_quickReview {
    }
    &_genres {
      flex-grow: 1;
      &_input {
        width: 100% !important;
      }
      cursor: pointer;
    }
    &_sendBtn {
      width: 170px !important;
      float: right;
      margin-top: 20px;
    }
  }
}
.wrapEdit {
  display: flex;
  margin-bottom: 15px;

  align-items: center;
  b {
    display: inline-block;
    width: 130px;
    margin-right: 15px;
    font-size: 1.5rem;
  }
  textarea {
    width: 100%;
    min-height: 137px;
    max-width: 443px;
  }
}
.wrapPopupChangeImg {
  height: 230px;
  &_input {
    height: 31px;
    padding: 17px 15px;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
.wrapPopupConfirmSend {
}
