.wrapPage {
  &_top {
    padding: 20px 15px;

    display: flex;
    &_pictureStory {
      img {
        border-radius: 14px;
        overflow: hidden;
        width: 250px;
        height: 300px;
      }
    }
    &_leftSide {
      &_list {
        padding-left: 20px;
        & > li {
          list-style-type: none;
        }
        b {
          font-size: 1.6rem;
        }
        span {
          font-size: 1.4rem;
        }
      }
    }
    &_rightSide {
      flex-grow: 1;

      margin-left: 40px;
      &_name {
        text-align: center;
      }
      &_quickReview {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}
.completeStatus {
  margin-left: 5px;
  cursor: pointer;
  border: solid 1px #5a2f14;
}
.controllerUpdate {
  display: flex;
  @mixin styleBtn {
    min-height: 45px;
    margin: 12px;
  }

  &_submitBtn {
    @include styleBtn;
  }
  &_backBtn {
    @include styleBtn;
  }
}
