.headerSearch {
  padding: 20px;
  display: flex;
  margin-bottom: 20px;
}
.wrapOtherSelected {
  // width: ;
  display: inline-block;
  margin-left: 30px;
  b {
    margin-right: 5px;
    font-size: 1.7rem;
  }
  * {
    font-size: 1.5rem;
  }
}
