.wrap {
  background-image: url("../../../../public/assets/images/backgrounds/background_blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  &_main {
    position: fixed;
    left: 50%;
    top: 0%;
    width: 80%;
    max-width: 600px;
    height: 100%;
    background-color: white;

    & > div {
      height: 100%;

      border-radius: 0;
    }

    transform: translate(-50%, 0%);
    &_login {
      padding: 0px 40px;
      height: 100%;
      &_title {
        font-weight: 700;
        text-align: center;
        font-size: 2.5rem;
        // font-size: ;
      }
      &_des {
        color: rgb(32, 34, 36);
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 25px;
      }
      &_label {
        font-size: 1.5rem;
        color: rgb(32, 34, 36);
        font-weight: 600;
        margin-bottom: 10px;
        display: block;
      }
      &_input {
        width: 100%;
        margin-bottom: 10px;
        &_error {
          font-weight: 500;
          font-size: 1.5rem;
          padding-top: 4px;
          color: #ea0234;
          height: 25px;
          margin: 0;
        }
      }
      &_submitButton {
        max-width: 300px;
        text-align: center;
        margin: 20px auto 10px;
      }
    }
  }
}
.bottom_signup {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5vh;
  a {
    color: orange;
    text-decoration: underline;
  }
}
